/* BO Theme toggler para el tema */
.switch_de_tema {
  position: absolute;
  display: block;
  width: 55px;
  height: 30px;
  /*  background: #949494; */
  border-radius: 15px;
  /*  border: 1px solid #fff; */
  right: 68px;
}

.switch {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  background-image: url('../img/togglers/light-mode.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: all 0.3s ease;
  box-shadow: 0 1px 5px 0 #0000002e inset;
  border-radius: 15px;
}

.checkbox:checked~.switch {
  background-image: url('../img/togglers/dark-mode.png');
}

.checkbox {
  display: none;
}

.canica {
  position: absolute;
  width: 24px;
  height: 24px;
  background: #f2f2f2;
  border-radius: 50%;
  transition: all 0.3s ease;
  flex: 0 0 24px;
  margin-left: 2px;
  cursor: pointer;
  left: 0px;
  transition: all 0.3s ease;
}

.checkbox:checked~.switch .canica {
  left: 26px;
  background: #252527;
}

/* EO Theme toggler para el tema */

/* BO Language toggler para el idioma */

/* BO Language Toggler */
.switch_de_idioma {
  position: absolute;
  display: block;
  width: 55px;
  height: 30px;
  /*   background: #949494; */
  border-radius: 15px;
  /*   border: 1px solid #fff; */
  right: 135px;
}

.switch-idioma {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  background-image: url('../img/togglers/lang-es.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: all 0.3s ease;
}

#checkbox_lang:checked~.switch-idioma {
  background-image: url('../img/togglers/lang-en.png');
}

#checkbox_lang:checked~.switch-idioma .canica {
  left: 26px;
  background: #222222;
}

/* EO Language Toggler */