*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  background-color: #1e1e1e;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  align-items: stretch;
}

#header,
#footer {
  flex: 1;
  min-height: 100px;
  max-height: 100px;
  width: 100%;
  background-color: black;
}

#main {
  display: flex;
  flex: 1;
  min-width: 320px;
  max-width: 1080px;
  width: 100%;
  position: relative;
  margin: 0 auto;
  padding: 40px;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: aliceblue;
}